In [1]:
import pandas as pd
import os
# Assuming file_path contains the file path
file_path = os.path.join('logs', 'stationary.csv')
df = pd.read_csv(file_path, encoding='utf-8',skiprows=1)
df

,time[us],acc_x[mg],acc_y[mg],acc_z[mg],gyro_x[mdps],gyro_y[mdps],gyro_z[mdps]
0,519662000,1057,39,-43,-1954,-1557,-244
1,519681000,1051,44,-44,-1862,-1557,-274
2,519700000,1054,41,-45,-2000,-1236,-137
3,519719000,1052,46,-44,-2122,-1664,-290
4,519738000,1052,36,-29,-2000,-1404,-229
...,...,...,...,...,...,...,...
257,524545000,1052,43,-43,-2030,-1404,-351
258,524564000,1050,41,-41,-2076,-1297,-396
259,524583000,1048,41,-46,-2106,-1496,-290
260,524602000,1054,42,-41,-2076,-1206,-381
261,524621000,1050,40,-46,-2015,-1740,-213

In [2]:
samples_dt = df['time[us]'].diff()
mean_dt_secs = samples_dt.mean()/1e6
ODR = 1/mean_dt_secs
print(f"ODR = {round(ODR,2)} Hz")

ODR = 52.63 Hz

In [3]:
from IPython.display import Markdown

# Display the file name in Markdown
Markdown(f"# File Name: {file_path}")

# File Name: logs\stationary.csv